<%= form_for ([@post, @post.coments.build]) do |f|%>
  <div class="form-group">
    <%= f.text_area :content, :class=> "form-control", :placeholder=> "Whrite a comment..." %>
  </div>
      <%=f.submit :class=> "btn btn-secondary", :value => "Create Comment"%>

<%end%>
